ipykernel==6.29.5
ipython==8.30.0
nbformat==5.10.3
joblib==1.4.2
numpy==2.2.0
pandas==2.2.3

# general plotting
matplotlib==3.9.3
plotly==5.24.1
seaborn==0.13.2

# ROI UI
bokeh==3.6.2
jupyter_bokeh==4.0.5
holoviews==1.20.0
panel==1.5.5

scikit-learn==1.6.0
scipy==1.14.1

# ROI UI old
opencv-python==4.10.0.84
roipoly==0.5.3
